CG.cpp
*.txt
!CMakeLists.txt
!AMG/CMakeLists.txt
Exersise8_solution.ipynb
out
.vs
build
.ipynb_checkpoints
.vscode
CGcpp.cpython-39-x86_64-linux-gnu.so
AMG/build
AMG/confs
bi_gcstab.cpp
conjugate_gradient_test.cpp
gmres.ipynb